In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_pickle('../Dataframes/df_compiled_daily_precipitation_gbg_save.pkl')

In [5]:
df

,Datum,Nederbördsmängd,Kvalitet,Year,Month,Avg_nederbörd_per_dag,Max_uppmätta_nederbörd
0,1944-01-01,0.2,G,1944,1,2.70,16.6
1,1944-01-02,0.4,G,1944,1,2.70,16.6
2,1944-01-03,0.0,G,1944,1,2.70,16.6
3,1944-01-04,0.0,G,1944,1,2.70,16.6
4,1944-01-05,2.1,G,1944,1,2.70,16.6
...,...,...,...,...,...,...,...
15487,2023-06-26,18.5,G,2023,6,1.31,18.5
15488,2023-06-27,10.6,G,2023,6,1.31,18.5
15489,2023-06-28,0.0,G,2023,6,1.31,18.5
15490,2023-06-29,5.0,G,2023,6,1.31,18.5
15491,2023-06-30,0.2,G,2023,6,1.31,18.5

In [13]:
# Check to see if indexing was messed up when concating the datasets

for i in range(1944, 2023):
    for ind, val in df.iterrows():
        if val['Year'] == i:
            print(f'{i} // {ind}')
            break

1944 // 0
1945 // 366
1946 // 731
1947 // 1096
1948 // 1461
1949 // 1827
1950 // 2192
1951 // 2557
1952 // 2922
1953 // 3288
1954 // 3653
1955 // 4018
1956 // 4383
1957 // 4749
1958 // 5114
1959 // 5479
1960 // 5844
1961 // 6210
1962 // 6575
1963 // 6940
1964 // 7305
1965 // 7671
1966 // 8036
1967 // 8401
1968 // 8766
1969 // 9132
1970 // 9497
1971 // 9862
1972 // 10227
1973 // 10593
1974 // 10958
1975 // 11323
1976 // 11688
1977 // 12054
1978 // 12419
1979 // 12784
1980 // 13149
1981 // 13515
1982 // 13880
1983 // 14245
1984 // 14610
1985 // 14976
1986 // 15341
1987 // 15706
1988 // 16071
1989 // 16437
1990 // 16802
1991 // 17167
1992 // 17532
1993 // 17898
1994 // 18263
1995 // 18628
1996 // 18993
1997 // 19359
1998 // 19724
1999 // 20089
2000 // 20454
2001 // 20820
2002 // 21185
2003 // 8006
2004 // 8371
2005 // 8737
2006 // 9102
2007 // 9467
2008 // 9832
2009 // 10198
2010 // 10563
2011 // 10928
2012 // 11293
2013 // 11659
2014 // 12024
2015 // 12389
2016 // 12754
2017 // 13120
2018 // 13485
2019 // 13850
2020 // 14215
2021 // 14581
2022 // 14946