In [1]:
import pandas as pd

In [2]:
df_save = pd.read_csv('../data/smhi_snow_depth_save.csv', header=7, usecols=[0, 1, 2, 3, 4, 5], sep=';')

In [3]:
df_save['Datum'] = pd.to_datetime(df_save['Datum'])
df_save['Month'] = df_save['Datum'].dt.month
df_save['Year'] = df_save['Datum'].dt.year

In [4]:
df_save

,Datum,Tid (UTC),Snödjup,Kvalitet,Markens tillstånd,Kvalitet.1,Month,Year
0,1944-01-01,07:00:00,0.0,G,0,G,1,1944
1,1944-01-02,07:00:00,0.0,G,0,G,1,1944
2,1944-01-03,07:00:00,0.0,G,0,G,1,1944
3,1944-01-04,07:00:00,0.0,G,0,G,1,1944
4,1944-01-05,07:00:00,0.0,G,0,G,1,1944
...,...,...,...,...,...,...,...,...
15181,2002-11-24,06:00:00,0.0,G,2,G,11,2002
15182,2002-11-25,06:00:00,0.0,G,2,G,11,2002
15183,2002-11-26,06:00:00,0.0,G,2,G,11,2002
15184,2002-11-30,06:00:00,0.0,G,11,G,11,2002
15185,2002-12-01,06:00:00,0.0,G,12,G,12,2002

In [5]:
df_save['Snittdjup_per_dag_för_månaden'] = df_save.groupby(['Year', 'Month'])['Snödjup'].transform('mean').round(2)

In [6]:
df_save.rename(columns=({'Tid (UTC)': 'Tid_UTC', 'Markens tillstånd': 'Markens_tillstånd', 'Kvalitet.1': 'Kvalitet_1'}), inplace=True)

In [10]:
# df_save.to_csv('../data/prepared_data/snow_depth_save.csv', index=False, mode='w')
# df_save.to_pickle('../Dataframes/df_snow_save.pkl')